<div class="card-header-container">
  <div class="card-header-blur"></div>
  <div class="swiper card-header w-dyn-list">
    <div role="list" class="swiper-wrapper card-header w-dyn-items">
      <div role="listitem" class="swiper-slide card-header w-dyn-item">
        <div class="card-header-slide-layer"></div>
        <img src="" loading="lazy" alt="" class="card-header-slide-image" />
      </div>
    </div>
    <div class="w-dyn-empty">
      <div>No items found.</div>
    </div>
  </div>
  <div class="container-grid card-header">
    <div class="grid card-header">
      <div
        id="w-node-_8d0b7b64-bca3-98fc-d7e7-f81a94624043-94624037"
        class="card-header-text-container"
      >
        <h3 class="header-7 card-header">
          Originales y <span class="text-highlighted-gradient">exclusivas</span>
        </h3>
        <h3 class="body-4 card-header">
          Nuestras historias únicas, producciones que no encontrarás en ningún
          otro lugar
        </h3>
      </div>
      <a
        id="w-node-_8d0b7b64-bca3-98fc-d7e7-f81a9462404a-94624037"
        href="#"
        class="large-button w-button"
        >Probar gratis</a
      >
      <div
        id="w-node-_8d0b7b64-bca3-98fc-d7e7-f81a9462404c-94624037"
        class="card-header-navigation"
      >
        <div class="card-header-arrows-container">
          <div class="card-header-arrow left">
            <img src="../images/→_1.svg" loading="lazy" alt="" />
          </div>
          <div class="card-header-arrow right">
            <img src="../images/→_1.svg" loading="lazy" alt="" />
          </div>
        </div>
        <div class="card-header-carousel-pagination"></div>
      </div>
    </div>
  </div>
</div>
