.card-header-container .swiper-slide-active .card-header-slide-layer {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.card-header-container .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  width: 12px;
  height: 12px;
}

.card-header-container .swiper-pagination-bullet-active {
  background-color: white;
}

.card-header-container .swiper-pagination-bullet:not(:first-child) {
  margin-left: 16px;
}

.card-header-container {
  transition: background-image 200ms ease-in;
}

.card-header-background-text {
  transition: all 200ms ease-in;
}
