<div class="media-slider wf-section">
  <div class="container-grid w-container">
    <div class="w-layout-grid grid">
      <div
        id="w-node-_280e43f0-f04e-c155-12e9-a88c827561d4-827561d1"
        class="content"
      >
        <h2
          data-i18n="streaming-en-espanol-y-sin-limites"
          class="eyebrow-1 media-slider-title"
        >
          Ejemplo
        </h2>
        <p
          data-i18n="mas-de-100-canales-de-tv-con-miles-de-peliculas-series-y-novelas-el-mejor-futbol-en-directo-y-noticias-24-horas-para-mantenerte-informado"
          class="body-1 media-slider-description"
        >
          Más de 100 canales con miles de películas, series y novelas, el mejor
          fútbol en directo y noticias 24 horas para mantenerte informado<br />
        </p>
        <a href="#" class="large-button general-button pre-avod-launch w-button"
          >Ver Ahora</a
        >
        <div class="arrows-container">
          <div class="control-arrow left-arrow">
            <img
              src="images/arrow.svg"
              loading="lazy"
              width="14"
              alt=""
              class="image-6"
            />
          </div>
          <div class="control-arrow right-arrow">
            <img
              src="images/arrow.svg"
              loading="lazy"
              width="14"
              alt=""
              class="image-6"
            />
          </div>
        </div>
        <div class="background-mask">
          <div class="gradient-mask"></div>
        </div>
      </div>
      <div
        id="w-node-_280e43f0-f04e-c155-12e9-a88c827561e3-827561d1"
        class="slide-container"
      >
        <div class="splide">
          <div class="splide__track w-dyn-list">
            <div role="list" class="splide__list w-dyn-items">
              <div role="listitem" class="splide__slide w-dyn-item">
                <div class="card-wrapper">
                  <div class="image-wrapper">
                    <img
                      src=""
                      loading="lazy"
                      width="100"
                      alt=""
                      class="image-7"
                    />
                  </div>
                  <div class="card-title-code w-embed">
                    <h3 class="label-1 card-title" data-i18n=""></h3>
                  </div>
                  <div class="card-description-code w-embed">
                    <p class="body-5 t3 card-text-margin" data-i18n=""></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="w-node-_280e43f0-f04e-c155-12e9-a88c827561eb-827561d1"
        class="slider-progress"
      >
        <div class="slider-pagination"></div>
      </div>
    </div>
  </div>
</div>
