<div class="feature-carousel-component dark">
  <div class="feature-carousel-text-container">
    <h3 class="header-5 feature-carousel light">
      Disfruta de más series y<br />películas originales de ViX+ <br /><span
        class="text-highlighted-gradient"
        >Todos tus canales favoritos en vivo.</span
      >
    </h3>
    <div class="feature-carousel-subtitles-container">
      <h3 id="originales" class="label-1 feature-carousel-quick-links">
        Originales ViX+
      </h3>
      <h3 id="peliculas" class="label-1 feature-carousel-quick-links">
        Películas
      </h3>
      <h3 id="deportes" class="label-1 feature-carousel-quick-links last">
        Deportes en vivo
      </h3>
    </div>
  </div>
  <div class="feature-carousel-slider-container">
    <div class="swiper feature-carousel w-dyn-list">
      <div role="list" class="swiper-wrapper feature-carousel w-dyn-items">
        <div role="listitem" class="swiper-slide feature-carousel w-dyn-item">
          <div class="feature-carousel-slide-embbed w-embed">
            <img
              src=""
              loading="lazy"
              alt=""
              class="feature-content-carousel-image"
              data-title=""
              data-subtitle=""
              data-url=""
              data-category=""
            />
          </div>
        </div>
      </div>
      <div class="w-dyn-empty">
        <div>No items found.</div>
      </div>
    </div>
    <div class="feature-carousel-action-container">
      <h1 class="label-2--medium feature-carousel light">Title</h1>
      <h3 class="label-4 feature-carousel">Subtitle</h3>
      <a href="#" class="large-button feature-carousel w-button"
        >Probar gratis</a
      >
    </div>
  </div>
  <div class="container-grid">
    <div class="feature-carousel-scrollbar">
      <div class="feature-carousel-draggable"></div>
    </div>
  </div>
</div>
