<div
  id="w-node-_3224e256-3fca-c5c6-b5b9-8644a673aad5-58dc3bd4"
  class="email-capture-form newsletter dark avod-us w-form"
>
  <form
    id="email-form-2"
    name="email-form-2"
    data-name="Email Form 2"
    method="get"
    data-email-position="Bottom Page"
  >
    <div class="form-container-flex email-input">
      <div class="input-container">
        <input
          type="email"
          data-i18n="tu-correo-electronico"
          class="email-form-input dark w-input"
          maxlength="256"
          name="email-3"
          data-name="Email 3"
          placeholder="Tu correo electrónico"
          id="email-3"
          required=""
        />
        <div class="error-input-container">
          <p class="input-error-message label-5">Error Message</p>
        </div>
      </div>
      <input
        type="submit"
        value="Regístrate Ya "
        data-wait="Por favor espera..."
        data-i18n="registrate-ya"
        class="large-button svod-email-capture w-button"
      />
    </div>
    <div class="form-container-flex form-checkbox-container avod-us">
      <label class="w-checkbox email-capture-checkbox avod-us">
        <div
          class="w-checkbox-input w-checkbox-input--inputType-custom email-checkbox dark newsletter"
        ></div>
        <input
          type="checkbox"
          id="checkbox-2"
          name="checkbox-2"
          data-name="Checkbox 2"
          required=""
          style="opacity: 0; position: absolute; z-index: -1"
        /><span class="email-checkbox-label dark w-form-label" for="checkbox-2"
          >Acepto que ViX me envíe comunicaciones relacionadas con marketing y
          que mi información personal se use de acuerdo con la Política de
          privacidad de ViX. La Política de privacidad describe mis derechos, la
          información que será procesada, cómo será usada y para qué fin.
          <a
            href="https://vix.com/es/legal/politica-de-privacidad"
            target="_blank"
            class="email-capture-link"
            >Política de Privacidad</a
          ></span
        >
        <div class="error-checkbox-container">
          <p class="input-error-message label-5">Error Message...</p>
        </div>
      </label>
    </div>
  </form>
  <div class="email-capture-success-message w-form-done">
    <div class="header-10 white center">
      Gracias, tu registro ha sido recibido.
    </div>
  </div>
  <div class="error-message w-form-fail">
    <div>Hubo un error, intente de nuevo</div>
  </div>
</div>
