<div class="media-carousel dark">
  <div class="container-grid">
    <div class="w-layout-grid grid">
      <div
        id="w-node-_74f7cfbe-2f48-bc70-ce86-4449d6804f50-dc112e81"
        class="media-carousel-wrapper"
      >
        <div class="media-carousel-title">
          <h3 class="header-6 media-carousel-main-title dark">
            Más <span class="text-highlighted">Entretenimiento</span>
          </h3>
          <div class="media-carousel-actions">
            <div class="media-carousel-arrow-control left">
              <img src="images/Arrow-Right_White.svg" loading="lazy" alt="" />
            </div>
            <div class="media-carousel-arrow-control right">
              <img src="images/Arrow-Right_White.svg" loading="lazy" alt="" />
            </div>
          </div>
        </div>
        <div class="media-carousel-slider splide">
          <div class="splide__track w-dyn-list">
            <div role="list" class="splide__list w-dyn-items">
              <div
                role="listitem"
                class="media-carousel-slide splide__slide w-dyn-item"
              >
                <a href="#" class="media-carousel-link w-inline-block">
                  <div class="media-carousel-thumbnail">
                    <img
                      src=""
                      loading="lazy"
                      alt=""
                      class="media-carousel-thumbnail-image"
                    />
                    <div class="image-badge-container">
                      <h3 class="eyebrow-1 image-badge-label"></h3>
                    </div>
                  </div>
                </a>
                <div class="media-carousel-description">
                  <h3 class="eyebrow-2 media-carousel-eyebrow dark hidden"></h3>
                  <h3 class="header-9 media-carousel-slide-title dark"></h3>
                  <p
                    class="body-5 media-carousel-description-text dark truncate"
                  ></p>
                </div>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
        </div>
        <div class="media-carousel-progress dark">
          <div class="media-carousel-pagination dark"></div>
        </div>
      </div>
    </div>
  </div>
</div>
