<div class="hero-slider-component">
  <div class="hero-slider-gradient"></div>
  <div class="hero-slider-orange-gradient"></div>
  <div class="swiper hero-slider w-dyn-list">
    <div role="list" class="swiper-wrapper hero-slider w-dyn-items">
      <div role="listitem" class="swiper-slide hero-slider w-dyn-item">
        <h3 class="hero-slider-slide-title"></h3>
        <div class="hero-slider-desktop-image"></div>
        <div class="hero-slider-mobile-image"></div>
      </div>
    </div>
    <div class="w-dyn-empty">
      <div>No items found.</div>
    </div>
  </div>
  <div class="container-grid hero-slider">
    <div class="grid hero-slider">
      <h1
        id="w-node-e9a81a4f-6531-32d7-f676-86a04d0e870f-58dc3bd4"
        class="header-5 hero-slider"
      >
        Prueba ViX+<br /><span class="text-highlighted-gradient"
          >Gratis por 7 días</span
        >
      </h1>
      <h1
        id="w-node-e9a81a4f-6531-32d7-f676-86a04d0e8713-58dc3bd4"
        class="header-10 hero-slider"
      >
        Disfruta del servicio de streaming en español más grande del mundo.
        Series originales, estrenos de películas y tus ligas de fútbol
        favoritas.
      </h1>
      <div
        id="w-node-e9a81a4f-6531-32d7-f676-86a04d0e8734-58dc3bd4"
        class="hero-slider-navigation-container"
      >
        <div class="hero-slider-arrows">
          <div class="hero-slider-arrow left">
            <img src="images/→_1.svg" loading="lazy" alt="" />
          </div>
          <div class="hero-slider-arrow right">
            <img src="images/→_1.svg" loading="lazy" alt="" />
          </div>
        </div>
      </div>
      <div
        id="w-node-e9a81a4f-6531-32d7-f676-86a04d0e873a-58dc3bd4"
        class="logo-container hero-slider"
      >
        <a
          data-store="play store"
          href="https://vix.smart.link/a3y3md70r?device_id=device_id"
          target="_blank"
          class="logo-link-block hero-slider w-inline-block"
        >
          <div class="logo home-hero">
            <img
              src="images/Google-Play-ES.svg"
              loading="lazy"
              alt=""
              class="home-hero-store-logo google"
            />
          </div>
        </a>
        <a
          data-store="app store"
          href="https://vix.smart.link/a3y3md70r?device_id=device_id"
          target="_blank"
          class="logo-link-block hero-slider w-inline-block"
        >
          <div class="logo home-hero">
            <img
              src="images/Apple-Store-ES.svg"
              loading="lazy"
              alt=""
              class="home-hero-store-logo apple"
            />
          </div>
        </a>
        <a
          href="https://channelstore.roku.com/details/1a5e2113ce86a0d93eb99ea6b8e19159/vix-movies-and-tv-free-in-spanish"
          target="_blank"
          class="logo-link-block hero-slider w-inline-block"
        >
          <div class="logo home-hero">
            <img
              src="images/Roku.svg"
              loading="lazy"
              alt=""
              class="home-hero-store-logo roku"
            />
          </div>
        </a>
        <a
          href="https://www.amazon.com/ViX-Movies-TV-FREE-Spanish/dp/B08KJ77PQY"
          target="_blank"
          class="logo-link-block hero-slider w-inline-block"
        >
          <div class="logo home-hero">
            <img
              src="images/Amazon-Fire-TV_2.svg"
              loading="lazy"
              alt=""
              class="home-hero-store-logo fire-tv"
            />
          </div>
        </a>
        <a
          href="https://www.samsung.com/us/appstore/app.do?appId=G20329015921"
          target="_blank"
          class="logo-link-block hero-slider last w-inline-block"
        >
          <div class="logo home-hero">
            <img
              src="images/Samsung.svg"
              loading="lazy"
              alt=""
              class="home-hero-store-logo samsung"
            />
          </div>
        </a>
      </div>
      <div
        id="w-node-e9a81a4f-6531-32d7-f676-86a04d0e874a-58dc3bd4"
        class="hero-slider-pagination"
      >
        <h3 class="label-3 hero-slider slide-title">Title</h3>
        <div class="hero-slider-pagination-dots"></div>
      </div>
      <a
        data-section-type="Hero Page"
        id="w-node-_69a55556-f00c-1edf-5331-735a157ae759-58dc3bd4"
        href="https://vix.com/es-es/suscripcion/crea-tu-cuenta?referral=true"
        target="_blank"
        class="large-button hero-slider-cta svod-cta w-button"
        >Suscríbete Ya</a
      >
    </div>
  </div>
</div>
